@import 'common/index.scss'; //在 cssRules.js 中配置

.test {
  color: blue;
  font-size: 40px;
}

.person {
  font-size: 18px;

  .person__prop {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }

  .person__prop--name {
    color: rgb(199, 33, 185);
  }

  .person__prop--age {
    color: $red;

    > div {
      width: 50px;
      @include ellipsis(40px);
    }
  }
}
